<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>easyPZ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>com.Kdevelopement.exceptions.BadRequestException</exception-type>
    <location>/badrequest.jspx</location>
  </error-page>
  <filter>
    <display-name>RedirectFilter</display-name>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>ca.on.senecac.prg556.common.RedirectFilter</filter-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>/showbookings.jspx</param-value>
    </init-param>
    <init-param>
      <param-name>method</param-name>
      <param-value>REDIRECT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>ApplicationAccessFilter</display-name>
    <filter-name>ApplicationAccessFilter</filter-name>
    <filter-class>com.Zdevelopement.filters.ApplicationAccessFilter</filter-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>/clientlogin.jspx</param-value>
    </init-param>
    <init-param>
      <param-name>method</param-name>
      <param-value>REDIRECT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationAccessFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ClientLoginFilter</display-name>
    <filter-name>ClientLoginFilter</filter-name>
    <filter-class>com.Kdevelopement.filters.ClientLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClientLoginFilter</filter-name>
    <url-pattern>/clientlogin.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>LogoutFilter</display-name>
    <filter-name>LogoutFilter</filter-name>
    <filter-class>com.Kdevelopement.filters.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogoutFilter</filter-name>
    <url-pattern>/logout.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>ShowBookingsFilter</display-name>
    <filter-name>ShowBookingsFilter</filter-name>
    <filter-class>com.Kdevelopement.filters.ShowBookingsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShowBookingsFilter</filter-name>
    <url-pattern>/showbookings.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>BookRentalFilter</display-name>
    <filter-name>BookRentalFilter</filter-name>
    <filter-class>com.Zdevelopement.filters.BookRentalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BookRentalFilter</filter-name>
    <url-pattern>/bookrental.jspx</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>CRBAMenuFilter</display-name>
    <filter-name>CRBAMenuFilter</filter-name>
    <filter-class>com.Zdevelopement.filters.CRBAMenuFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CRBAMenuFilter</filter-name>
    <url-pattern>/crbamenu.jspx</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>